@use '../components/header/header';
@use '../components/auth-dialog/auth-dialog';
@use '../components/hero/hero';
@use '../components/new-games/new-games';
@use '../components/leaderboard/leaderboard';
@use '../components/library/library';
@use '../components/game-details/game-details';
@use '../components/snackbar/snackbar';
@use '../components/footer/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
